{% extends "RigauxtForumBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {% if topic.type == "Classique" %}Discussion{% else %}Post-It{% endif %} - {{ topic.title }}{% endblock %}

{% block rigauxtforum_body %}
	<div class="row">
		<div class="col-md-12">
			<h2>{% if topic.type.name == "Classique" %}Discussion{% else %}Post-It{% endif %}</h2>
			
			<div class="well" style="padding: 10px">
				<span class="glyphicon glyphicon-tower"></span>
				{% for nom, lien in ariane %}
					 {% if loop.first == false %}/{% endif %} {% if loop.last == false %}<a href="{{ lien }}">{% else %}<em>{% endif %}{{ nom }}{% if loop.last == false %}</a>{% else %}</em>{% endif %}
				{% endfor %}
			</div>
			
			<hr>
			
			{% for id, post in topic.posts %}
				<div id="p{{ post.id }}">
					<div class="row post-head" style="background-color: #aaa; margin: 0; padding: 3px">	
						<div class="col-md-2" style="text-align: center">
							<a class="removeLink" href="{{ path('rigauxt_user_profile', {'username': post.author.username}) }}">{{ format_name(post.author) }}</a>
						</div>
						<div class="col-md-10">
							<a href="#p{{ post.id }}">#</a> il y a {{ post.timeSince }}
						</div>
					</div>
					<div class="row post-head" style="background-color: #f9f9f9; margin: 0; padding: 0.625em 3px">
						<div class="col-md-2" style="text-align: center">
							{{ format_avatar(post.author, 80) }}
						</div>
						<div class="col-md-10">
							{{ post.message|nl2br }}
						</div>
					</div>
				</div>
			{% endfor %}
			
			{% if app.user != null %}
				{{ render(controller("RigauxtForumBundle:Topic:newPost", {'slug': topic.slug})) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
